
<!-- icons from flaticon -->
<div class="stickynav">
     <a href="home.html">  
         <div>
            <img src="images/icons/home.png">
            <p>Home</p>
         </div>
    </a>
    <a href="matches.html">  
            <div>
               <img src="images/icons/matches.png">
               <p>Matches</p>
            </div>
       </a>
       <a href="profile.html">  
            <div>
               <img src="images/icons/profile.png">
               <p>Profiel</p>
            </div>
       </a>
       <a href="index.html">  
            <div>
               <img src="images/icons/logout.png">
               <p>Uitloggen</p>
            </div>
       </a>


</div>