<% include partials/header %>
    <h1><%= title %></h1> 
    <!-- <ul>
    <% users.forEach(function(user){ %>
        <li><%= user.first_name %>
            <%= user.last_name %> </li>
    <% })%>
    </ul> -->

    <body class='home'>
        <div id='page'>
          <section class="row_1">
      
            <article>
              <img src='images/profiles/profile1.jpg'>
              <div class="profilemenu">
                <div class='details'>
                        <p> Melissa <b> 23 </b> </p>
                </div>
                <div class="options">
                    <img src="images/icons/matches-black.png">
                </div>
              </div>
            </article>
      
            <article>
                <img src='images/profiles/profile2.jpg'>
                <div class="profilemenu">
                        <div class='details'>
                                <p> Bianca <b> 21 </b> </p>
                        </div>
                        <div class="options">
                            <img src="images/icons/matches-black.png">
                        </div>
                      </div>
            </article>
      
            <article>
                <img src='images/profiles/profile3.jpg'>
                <div class="profilemenu">
                        <div class='details'>
                                <p> Emma <b> 25 </b> </p>
                        </div>
                        <div class="options">
                            <img src="images/icons/matches-black.png">
                        </div>
                      </div>
            </article>
      
            <article>
                <img src='images/profiles/profile4.jpg'>
                <div class="profilemenu">
                        <div class='details'>
                                <p> jessica <b> 21 </b> </p>
                        </div>
                        <div class="options">
                            <img src="images/icons/matches-black.png">
                        </div>
                      </div>
            </article>
      
          </section>
        </div>
        <% include partials/stickynav %>
<% include partials/footer %>



