<% include partials/header %>
    <!-- <ul>
    <% users.forEach(function(user){ %>
        <li><%= user.first_name %>
            <%= user.last_name %> </li>
    <% })%>
    </ul> -->
    
    <body class='index'>
        <div id='page'>
          <section class="row_1">
            <img src='images/logo2.png' alt="logo muzika">
          </section>
          <section class='row_2'>
             <a href="home.html" class="button"> Inloggen </a>
             <a href="new.html" class="button2"> Registeren </a>
          </section>
        </div>


<% include partials/footer %>


