<% include partials/header %>
    <h1><%= title %></h1> 
    <body class='match'>
        <div id='page'>
         
            <article>
                <img src="images/profiles/profile1.jpg">
                <p> "Ja ijs is echt koud..."</p>
                <img src="images/icons/chat.png">
            </article>

            <article>
                    <img src="images/profiles/profile3.jpg">
                    <p> "Precies!"</p>
                    <img src="images/icons/chat.png">
            </article>

            <article>
                    <img src="images/profiles/profile4.jpg">
                    <p> "Dus dinsdag?"</p>
                    <img src="images/icons/chat.png">
            </article>
         
        </div>
        <% include partials/stickynav %>
<% include partials/footer %>



