<% include partials/header %>
    <h1><%= title %></h1> 

    <form method="get" action="profile.html">
        <label>Voornaam</label> <br>
        <input type="text" name="first_name" required>
        <br>
        <label>Achternaam</label> <br>
        <input type="text" name="last_name" required>
        <br>
        <label>Email</label> <br>
        <input type="text" name="email" required>
        <br>
        <label>Leeftijd</label> <br>
        <input type="number" name="leeftijd" required>
        <br>
        <label>Spotify naam</label> <br>
        <input type="text" name="spotify_name" required>
        <br><br>
        <input type="submit" value="Aanmaken">
    </form>
    <a href="index.html">Home</a>
<% include partials/footer %>


