<% include partials/header %>
    <h1><%= title %></h1> 
    <body class='profile'>
        <div id='page'>
         
            <article>
                <img src="images/profiles/profiel.jpg">
                <p> Eric <br> 21 jaar <br> <b>AC/DC</b> </p>
                <img src="images/icons/gear.png">
            </article>

            <p> <a href="index.html"> Uitloggen</a></p>

         
        </div>
        <% include partials/stickynav %>
<% include partials/footer %>



